<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Sequential Test Execution">
    <test name="JavaScript Tests">
        <classes>
            <class name="javascript.JavaScriptTests"/>
        </classes>
    </test>
    <test name="Dropdown Tests">
        <classes>
            <class name="dropdown.DropdownTests"/>
        </classes>
    </test>
</suite>

<!--<suite thread-count="2" verbose="1" annotations="JDK" parallel="tests"-->
<!--       name="Parallel Test Execution">-->
<!--    <test name="JavaScript Tests">-->
<!--        <classes>-->
<!--            <class name="javascript.JavaScriptTests"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="Dropdown Tests">-->
<!--        <classes>-->
<!--            <class name="dropdown.DropdownTests"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->